/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * ----------------------------------------------------------------
 *  Nextflow config file for use with Singularity on local machine
 * ----------------------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

container.home = '/home/sven1103/container'
container.reference = '/home/sven1103/container/data/'

singularity {
	enabled = true
	runOptions = "-B ${container.reference}:/usr/local/lib/snpEff/data"
}

process {
  $variantAnnotation.container = "${container.home}/snpEff.simg"
  $createCentraxxXML.container = "${container.home}/python_for_centraxx.simg"
}


executor {
	
	name = 'local'
	cpus = 2
	memory = '6GB'

}
